@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

body{
    font-family: "Poppins", "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #111;
}
button{
    cursor: pointer;
    border: none; outline: none;
}

*{margin: 0; padding: 0; box-sizing: border-box; list-style: none; text-decoration: none;}

section{
    width: 100%;
    height: 100vh;
}
section .inner{
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}
section .inner::before{
    content: '03';
    font-size: 180px;
    font-weight: 700;
    opacity: .1;
    position: absolute;
    left: -18%;
    top: 0;
    letter-spacing: -10px;
}
section .inner::after{
    content: 'Responsive';
    font-size: 52px;
    color: #333;
    font-weight: 700;
    letter-spacing: -1px;
    position: absolute;
    left: -12%;
    top: 135px;
}

section .inner .contents{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
section .inner .contents .img_left{
    width: 65%;
}
section .inner .contents .img_left .imgbox{
    position: relative;
}
section .inner .contents .img_left img{
    width: 100%;
    transform: scale(1.15)
}
section .inner .contents .img_left .imgbox .innerbox{
    position: absolute;
    left: 286px; top: 139px;
    width: 410px;
    height: 258px;
    overflow: hidden;
}
section .inner .contents .img_left .imgbox .innerbox>img{
    width: 100%;
    transform: translateY(-0%);
    animation: pc_ani_reverse 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
section .inner .contents .img_left .imgbox .innerbox>img:hover{
    animation: pc_ani 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes pc_ani {
    0%{transform: translateY(0%);}
    100%{transform: translateY(-68%);}
}
@keyframes pc_ani_reverse {
    0%{transform: translateY(-68%);}
    100%{transform: translateY(0%);}
}



section .inner .contents .info_right{
    width: 30%;
}
section .inner .contents .info_right .top h5{
    font-size: 16px;
    font-weight: 400;
    color: #555;
}
section .inner .contents .info_right .top h2{
    font-size: 30px;
    font-weight: 600;
    margin-top: 12px;
}
section .inner .contents .info_right .top h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}
section .inner .contents .info_right .top>span{
    display: block;
    width: 100%;
    background: #F47321;
    border-radius: 100px;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    cursor: default;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
section .inner .contents .info_right .top>span:hover{
    background: #ff6200;
}

section .inner .contents .info_right .middle{
    margin: 24px 0;
}
section .inner .contents .info_right .middle>li{
    display: flex;
    padding: 6px;
    gap: 16px;
    color: #333;
    position: relative;
}
section .inner .contents .info_right .middle>li>span{
    color: #111;
    font-weight: 500;
}
section .inner .contents .info_right .middle>li::before{
    content: '';
    width: 1px !important; height: 12px !important;
    background: #e5e5e5;
    position: absolute;
    top: 50%; left: 0; margin-left: 69px;
    transform: translateY(-50%);
}

section .inner .contents .info_right .bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
section .inner .contents .info_right .bottom>button{
    width: 100%;
    padding: 8px;
    border:1px solid #F47321;
    border-radius: 100px;
    background: #fff;
    position: relative;
    z-index: 2;
}
section .inner .contents .info_right .bottom>button:hover{
    background: #F47321;
    color: #fff;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


